.body{
    
   font: 16px Georgia;
   
}
header{
    margin-top: -10px;
    padding: 0%;
    border-top: solid yellow 10px;
}
header div{
    background-image: url(../Forms/icon/mc-freddie-dark.svg);
    width: 38px;
    height: 38px;
    margin: 12px;
}
h1, p.paragraph{
    text-align: center;
    color: #241C15;
}
p.paragraph{
    font: 18px Georgia;
}

section{
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    
    padding-left: 1%;
    
}
label{
    padding: 0px 0px 12px;
    height: 10px;
    font-size: 18px;
}
section input{
    align-items: center;
    margin: 0px 0px 20px;
    padding: 0px 15px;
    
    font-size: 16px;
    width: 90%;
    height: 42px;
}
a{
    color: #007C89;
    text-decoration: none;
}

.description,
.visibility,
.icon{
    display: flex;
}
.visibility{
    margin-bottom: 20px;
}
.icon{
    margin-left: 62%;
}
.first,
.second{
    width: 50%;
    font: 16px Georgia;
}
ul li{
    margin-bottom: 1%;
}
#check{
    width: 50px;
    height: 50px;
    margin: 0% 3% 3% 3%;
}
.submit{
    width: 90%;
    height: 40px;
    margin-top: 10%;
    margin-left: 5%;
}
aside{
    display: none;
}
.para{
    display: none;
    
}
@media only screen and (min-width: 768px){
    .main{
        display: flex;
    }
    .form{
        align-items: center;
        width: 80%;
    }
    section{
        
        width: 600px;
        height: auto;
        
    }
    .para{
        display: block;
        text-align: center;
    }
    .lateral{
        display: block;
        background-color: rgb(238, 255, 7);
        width: 300px;
        height: auto;
        margin-left: 10%;
        
        background-image: url(../Forms/icon/art-hero-flowers.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 90%;
        margin-top: -150px;
    }
    
  
}    